<!-- Start Footer Area  -->
<footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-one">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="single-footer-wrapper border-right mr--20">
                        
                        <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Email Adress">
                            <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-wrapper quick-link-wrap">
                        <h5 class="ft-title">Quick Link</h5>
                        <ul class="ft-link tmp-link-animation">
                            <li>
                                <a routerLink="/aboutme">About Me</a>
                            </li>
                            <li>
                                <a routerLink="/service">Service</a>
                            </li>
                            <li>
                                <a routerLink="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog Post</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-wrapper contact-wrap">
                        <h5 class="ft-title">Contact </h5>
                        <ul class="ft-link tmp-link-animation">
                            <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                            <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                        </ul>
                        <div class="social-link footer">
                            <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://github.com/raslenraslen"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-img">
        <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper">
                    <p class="copy-right-para">© Raslen <script>
                            document.write(new Date().getFullYear())
                        </script> | All Rights Reserved</p>
                    <ul>
                        <li><a href="#">Trams & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->



<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Let's chat with me? - Online
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Please fill out the form below to start chatting with me directly.
            </div>
            <form class="tmp-dynamic-form" action="#">
                <div class="field">
                    <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                </div>
                <div class="field">
                    <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                </div>
                <div class="field textarea">
                    <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                </div>
                <div class="field">
                    <button name="submit" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
  
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
<button class="demo-button">
    <p class="mb--0">48</p>
    <span class="text">Demos</span>
</button>
</div> -->




