<header class="tmp-header-area-start header-one header--sticky header--transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-dark" src="images/raslenlogowhite.png" alt="raslenlogo">
                            <img class="logo-white" src="assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                        </a>
                    </div>
                    <nav class="tmp-mainmenu-nav d-none d-xl-block">
                        <ul class="tmp-mainmenu">
                            <li>
                                <a routerLink="/home">Home
                                </a>

                            </li>
                            <li>
                                <a routerLink="/aboutme">About</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Services
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a routerLink="/service">Service</a></li>
                                  
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Blog
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Blog Classic</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Project
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a routerLink="/projects">Project</a></li>
                                   
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact</a>
                            </li>
                        </ul>

                    </nav>
                    <div class="tmp-header-right">
                        <div class="social-share-wrapper d-none d-md-block">
                            <div class="social-link">
                                <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                               
                                <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                            </div>
                        </div>
                        <div class="actions-area">
                            <div class="tmp-side-collups-area d-none d-xl-block">
                                <button class="tmp-menu-bars tmp_button_active"><i class="fa-regular fa-bars-staggered"></i></button>
                            </div>
                            <div class="tmp-side-collups-area d-block d-xl-none">
                                <button class="tmp-menu-bars humberger_menu_active"><i class="fa-regular fa-bars-staggered"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
