
<!-- tpm-header-area end -->



<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="title split-collab">Project Details</h1>
                    <ul class="page-list">
                        <li class="tmp-breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                        <li class="tmp-breadcrumb-item active">Project Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->


<div class="project-details-area-wrapper tmp-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-details-thumnail-wrap">
                    <img src="images/donate.png" style="width: 1500px;" alt="thumbnail">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="project-details-content-wrap">
                    <h2 class="title"  style="font-size: 40px;">Centralized Blood Transfusion Management System</h2>
                    <p class="docs">A lightweight desktop application designed to modernize and streamline the workflow of blood transfusion centers. No more scattered records or manual tracking — this C-based solution centralizes donor data, manages blood transfers, and ensures smooth coordination between donation sites and hospitals.

                        </p>
                    <p class="docs">Engineered for operational reliability and ease of use, it empowers medical administrators with efficient tools to register donors, monitor inventories, and track transfusion activities in real time.
                        </p>

                    <div class="check-box-wrap">
                        <ul>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>Smart blood logistics, simplified.</h4>
                            </li>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>C-Based Desktop Solution</h4>
                            </li>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>Built for Medical Administrators</h4>
                            </li>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>Focused on Security & Data Integrity</h4>
                            </li>
                        </ul>
                    </div>
                    <h2 class="mini-title">Centralize, manage, and act — all from one platform.</h2>
                    <p class="docs"> Built for health services, powered by precision and care.
                        <br>
                        Because every drop counts — manage it wisely.<br>
                       
                    <div class="project-details-swiper-wrapper">
                        <div class="swiper project-details-swiper">
                            
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/fenetre1.jpg"  alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/fenetre2.jpg"  alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/fenetre3.jpg"  alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/fenetre4.png" style="height: 320px;" alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/fenetre0.png" style="height: 320px;" alt="swiper-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-details-swiper-btn">
                            <div class="project-swiper-button-prev"><span><i
                                        class="fa-solid fa-arrow-left"></i></span>Previous</div>
                            <div class="project-swiper-button-next">Next <span><i
                                        class="fa-solid fa-arrow-right"></i></span></div>
                        </div>
                    </div>
                </div>
                <!-- Tpm Get In touch start -->
                <section class="get-in-touch-area pt--80">
                    <div class="container p-0">
                        <div class="contact-get-in-touch-wrap">
                            <div class="get-in-touch-wrapper tmponhover">
                                <div class="row g-5 align-items-center">
                                    <div class="col-lg-12">
                                        <div class="contact-inner">
                                            <div class="contact-form">
                                                <form class="tmp-dynamic-form" id="contact-form" method="POST" action="https://inversweb.com/product/html/reeni/mail.php">
                                                    <div class="contact-form-wrapper row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" name="contact-name" id="contact-name" placeholder="Your Name" type="text" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" name="contact-phone" id="contact-phone" placeholder="Phone Number" type="number" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" id="contact-email" name="contact-email" placeholder="Your Email" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" type="text" id="subject" name="subject" placeholder="Subject">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <textarea class="input-field" placeholder="Your Message" name="contact-message" id="contact-message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="tmp-button-here">
                                                                <button class="tmp-btn hover-icon-reverse radius-round w-100" name="submit" type="submit" id="submit">
                                                                    <span class="icon-reverse-wrapper">
                                                <span class="btn-text">Appointment Now</span>
                                                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Tpm Get In touch End -->
            </div>
            <div class="col-lg-4">
                <div class="signle-side-bar project-details-area tmponhover">
                    <div class="header">
                        <h3 class="title">Project Details</h3>
                    </div>
                    <div class="body">
                        <div class="project-details-info">Name: <span>C-Based Desktop Solution</span></div>
                        <div class="project-details-info">Author: <span>Missaoui Raslen</span></div>
                        <div class="project-details-info">Date: <span>October 2023 - December 2023 </span></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Footer Area  -->
<footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-one">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="single-footer-wrapper border-right mr--20">
                        
                        <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Email Adress">
                            <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-wrapper quick-link-wrap">
                        <h5 class="ft-title">Quick Link</h5>
                        <ul class="ft-link tmp-link-animation">
                            <li>
                                <a routerLink="/aboutme">About Me</a>
                            </li>
                            <li>
                                <a routerLink="/service">Service</a>
                            </li>
                            <li>
                                <a routerLink="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog Post</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-wrapper contact-wrap">
                        <h5 class="ft-title">Contact </h5>
                        <ul class="ft-link tmp-link-animation">
                            <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                            <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                        </ul>
                        <div class="social-link footer">
                            <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-img">
        <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper">
                    <p class="copy-right-para">© Raslen <script>
                            document.write(new Date().getFullYear())
                        </script> | All Rights Reserved</p>
                    <ul>
                        <li><a href="#">Trams & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->



<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Let's chat with me? - Online
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Please fill out the form below to start chatting with me directly.
            </div>
            <form class="tmp-dynamic-form" action="#">
                <div class="field">
                    <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                </div>
                <div class="field">
                    <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                </div>
                <div class="field textarea">
                    <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                </div>
                <div class="field">
                    <button name="submit" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
  
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
<button class="demo-button">
    <p class="mb--0">48</p>
    <span class="text">Demos</span>
</button>
</div> -->





<div class="demo-modal-area">
    <div class="wrapper">
        <div class="tmp-modal-inner">
            <div class="close-icon">
                <button class="demo-close-btn"><span><i class="fa-sharp fa-light fa-xmark"></i></span></button>
            </div>
            <div class="demo-top text-center">
                <h4 class="title">Raslen</h4>
                <p class="subtitle">A personal portfolio website is your digital resume—a place to showcase your work,
                    skills, and achievements.</p>
            </div>
            <ul class="popuptab-area nav nav-tabs" id="popuptab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active demo-dark" id="demodark-tab" data-bs-toggle="tab" href="#demodark" role="tab" aria-controls="demodark" aria-selected="true">Dark Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link demo-light" id="demolight-tab" data-bs-toggle="tab" href="#demolight" role="tab" aria-controls="demolight" aria-selected="false">Light Demo</a>
                </li>
            </ul>
            <div class="tab-content" id="popuptabContent">
                <div class="tab-pane show active" id="demodark" role="tabpanel" aria-labelledby="demodark-tab">
                    <div class="content">
                        <div class="row">

                            <!-- Start Single Content  -->
                           
                            <!-- End Single Content  -->

                            <!-- Start Single Content  -->
                           
                            <!-- End Single Content  -->

                            <!-- Start Single Content  -->
                          