<!-- tpm-header-area start -->
<header class="tmp-header-area-start header-one header--sticky header--transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-dark" src="images/raslenlogowhite.png" alt="raslenlogo">
                            <img class="logo-white" src="assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                        </a>
                    </div>
                    <nav class="tmp-mainmenu-nav d-none d-xl-block">
                        <ul class="tmp-mainmenu">
                            <li>
                                <a routerLink="/home">Home
                                </a>
  
                            </li>
                            <li>
                                <a routerLink="/aboutme">About</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Services
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a routerLink="/service">Service</a></li>
  
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Blog
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Blog Classic</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Project
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a routerLink="/projects">Project</a></li>
  
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact</a>
                            </li>
                        </ul>
  
                    </nav>
                    <div class="tmp-header-right">
                        <div class="social-share-wrapper d-none d-md-block">
                            <div class="social-link">
                                <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  
                                <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                            </div>
                        </div>
                        <div class="actions-area">
                            <!-- Desktop -->
                            <div class="tmp-side-collups-area d-none d-xl-block">
                              <button class="tmp-menu-bars tmp_button_active" (click)="toggleSidebar()">
                                <i class="fa-regular fa-bars-staggered"></i>
                              </button>
                            </div>
  
                            <!-- Mobile -->
                            <div class="tmp-side-collups-area d-block d-xl-none">
                              <button class="tmp-menu-bars humberger_menu_active" (click)="toggleSidebar()">
                                <i class="fa-regular fa-bars-staggered"></i>
                              </button>
                            </div>
                          </div>
  
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <!-- tpm-header-area end -->
  
  <!-- MENU LATERAL DESKTOP -->
  <div class="d-none d-xl-block">
      <div #desktopSidebar class="tmp-sidebar-area tmp_side_bar"> <!-- AJOUTÉ #desktopSidebar -->
          <div class="inner">
              <div class="top-area">
                  <a href="index.html" class="logo">
                      <img class="logo-dark" src="assets/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                      <img class="logo-white" src="assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                  </a>
                  <div class="close-icon-area">
                      <button class="tmp-round-action-btn close_side_menu_active" (click)="closeSidebar()"> <!-- AJOUTÉ (click)="closeSidebar()" -->
                          <i class="fa-sharp fa-light fa-xmark"></i>
                      </button>
                  </div>
              </div>
              <div class="content-wrapper">
                  <div class="image-area-feature">
                      <a href="index.html">
                          <img src="assets/images/logo/man.png" alt="personal-logo">
                      </a>
                  </div>
                  <h5 class="title mt--30">Freelancer delivering exceptional Webflow, and Next.js solutions.</h5>
                  <p class="disc">I am a skilled freelancer specializing in Webflow development, Figma design, and Next.js projects. I deliver creative, dynamic, and user-centric web solutions.
                  </p>
                  <div class="short-contact-area">
                      <!-- single contact information -->
                      <div class="single-contact">
                          <i class="fa-solid fa-phone"></i>
                          <div class="information tmp-link-animation">
                              <span>Call Now</span>
                              <a href="#" class="number">+92 (8800) - 98670</a>
                          </div>
                      </div>
                      <!-- single contact information end -->
  
                      <!-- single contact information -->
                      <div class="single-contact">
                          <i class="fa-solid fa-envelope"></i>
                          <div class="information tmp-link-animation">
                              <span>Mail Us</span>
                              <a href="#" class="number">example@info.com</a>
                          </div>
                      </div>
                      <!-- single contact information end -->
  
                      <!-- single contact information -->
                      <div class="single-contact">
                          <i class="fa-solid fa-location-crosshairs"></i>
                          <div class="information tmp-link-animation">
                              <span>My Address</span>
                              <span class="number">66 Broklyant, New York 3269</span>
                          </div>
                      </div>
                      <!-- single contact information end -->
                  </div>
                  <!-- social area start -->
                  <div class="social-wrapper mt--20">
                      <span class="subtitle">find with me</span>
                      <div class="social-link">
                          <a href="#"><i class="fa-brands fa-instagram"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter"></i></a>
                          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      </div>
                  </div>
                  <!-- social area end -->
              </div>
          </div>
      </div>
      <a #desktopOverlay class="overlay_close_side_menu close_side_menu_active" href="javascript:void(0);" (click)="closeSidebar()"></a> <!-- AJOUTÉ #desktopOverlay et (click)="closeSidebar()" -->
  </div>
  
  <!-- MENU LATERAL MOBILE -->
  <div class="d-block d-xl-none">
      <div #mobileSidebar class="tmp-popup-mobile-menu"> <!-- AJOUTÉ #mobileSidebar -->
          <div class="inner">
              <div class="header-top">
                  <div class="logo">
                      <a href="index.html" class="logo-area">
                          <img class="logo-dark" src="assets/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                          <img class="logo-white" src="assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                      </a>
  
                  </div>
                  <div class="close-menu">
                      <button class="close-button tmp-round-action-btn" (click)="closeSidebar()"> <!-- AJOUTÉ (click)="closeSidebar()" -->
                          <i class="fa-sharp fa-light fa-xmark"></i>
                      </button>
                  </div>
              </div>
              <ul class="tmp-mainmenu">
                  <li>
                      <a href="#">Home
                      </a>
                      <!-- <ul class="submenu">
          <li><a href="index.html">Home 01</a></li>
          <li><a href="index-02.html">Home 02</a></li>
          <li><a href="index-03.html">Home 03</a></li>
          <li><a href="index-04.html">Home 04</a></li>
          <li><a href="index-05.html">Home 05</a></li>
          <li><a href="index-06.html">Home 06</a></li>
          <li><a href="index-07.html">Home 07</a></li>
          <li><a href="index-08.html">Home 08</a></li>
          <li><a href="index-09.html">Home 09</a></li>
          <li><a href="index-10.html">Home 10</a></li>
          <li><a href="index-11.html">Home 11</a></li>
          <li><a href="index-12.html">Home 12</a></li>
          <li><a href="index-13.html">Home 13</a></li>
      </ul> -->
                  </li>
                  <li>
                      <a href="about.html">About</a>
                  </li>
                  <li class="has-dropdown">
                      <a href="#">Services
                          <i class="fa-regular fa-chevron-down"></i>
                      </a>
                      <ul class="submenu">
                          <li><a href="service.html">Service</a></li>
                          <li><a href="service-details.html">Service Details</a></li>
                      </ul>
                  </li>
                  <li class="has-dropdown">
                      <a href="#">Blog
                          <i class="fa-regular fa-chevron-down"></i>
                      </a>
                      <ul class="submenu">
                          <li><a href="blog.html">Blog Classic</a></li>
                          <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                  </li>
                  <li class="has-dropdown">
                      <a href="#">Project
                          <i class="fa-regular fa-chevron-down"></i>
                      </a>
                      <ul class="submenu">
                          <li><a href="project.html">Project</a></li>
                          <li><a href="project-details.html">Project Details</a></li>
                      </ul>
                  </li>
                  <li>
                      <a routerLink="/contact">Contact</a>
                  </li>
              </ul>
  
  
              <div class="social-wrapper mt--40">
                  <span class="subtitle">find with me</span>
                  <div class="social-link">
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </div>
              </div>
              <!-- social area end -->
  
  
  
          </div>
      </div>
  </div>
  
  
  
  <!-- Breadcrumb Area Start -->
  <div class="breadcrumb-area breadcrumb-bg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb-inner text-center">
                      <h1 class="title split-collab">About Me</h1>
                      <ul class="page-list">
                          <li class="tmp-breadcrumb-item"><a href="https://inversweb.com/">Home</a></li>
                          <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                          <li class="tmp-breadcrumb-item active">About Me</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumb Area End -->
  
  <!-- Tpm Service Area Start -->
  <section class="service-area tmp-section-gap">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-link-animation">
                      <div class="service-card-icon">
                          <i class="fa-light fa-pen-ruler"></i>
                      </div>
                      <h4 class="service-title"><a href="service-details.html">DevOps & Automation</a></h4>
  
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-2 tmp-link-animation">
                      <div class="service-card-icon">
                          <i class="fa-light fa-bezier-curve"></i>
                      </div>
                      <h4 class="service-title"><a href="service-details.html">Cloud Engineering</a></h4>
  
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
                      <div class="service-card-icon">
                          <i class="fa-light fa-lightbulb"></i>
                      </div>
                      <h4 class="service-title"><a href="service-details.html">Web Development</a></h4>
  
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-4 tmp-link-animation">
                      <div class="service-card-icon">
                          <i class="fa-light fa-envelope"></i>
                      </div>
                      <h4 class="service-title"><a href="service-details.html">Scripting</a></h4>
  
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Tpm Service Area End -->
  
  <!-- tmp skill area start -->
  <div class="tmp-skill-area tmp-section-gapBottom">
      <div class="container">
          <div class="row">
              <div class="inner">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="progress-wrapper">
                              <div class="content">
                                  <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                      DevOps & Cloud Skills <span><img src="assets/images/custom-line/custom-line.png" alt="custom-line"></span>
                                  </h2>
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                         Docker</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">100%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          CI/CD (GitHub Actions, Jenkins)</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">95%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          Kubernetes</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">75%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          Monitoring (Prometheus, Grafana)</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">70%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="progress-wrapper">
                              <div class="content">
                                  <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                      Development Skill <span><img src="assets/images/custom-line/custom-line.png" alt="custom-line"></span>
                                  </h2>
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          OpenStack</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">95%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          AWS</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">80%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          Azure</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">85%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                                  <!-- Start Single Progress Charts -->
                                  <div class="progress-charts">
                                      <h6 class="heading heading-h6">
                                          Infrastructure as Code (Terraform)</h6>
                                      <div class="progress">
                                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                              <span class="percent-label">70%</span>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Single Progress Charts -->
  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- tmp skill area end -->
  
  <!-- Tpm Counter Area Start -->
  <section class="counter-area tmp-section-gapBottom">
      <div class="container">
          <div class="row g-5">
              <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                  <div class="year-of-expariance-wrapper bg-blur-style-one tmp-scroll-trigger tmp-fade-in animation-order-1">
                      <div class="year-expariance-wrap">
                          <!-- <h2 class="year-number"><span class="counter">25 </span> </h2> -->
                          <h2 class="counter year-number"><span class="odometer" data-count="2">00</span>
                          </h2>
                          <h3 class="year-title">Years Of <br>  Hands-On Practice</h3>
                      </div>
                      <p class="year-para">Projets académiques, labs cloud, certifications et contributions open source.</p>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                  <div class="counter-area-right-content">
                      <div class="row g-5">
                          <div class="col-lg-6 col-sm-6 col-12">
                              <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                                  <h3 class="counter counter-title"><span class="odometer" data-count="25">00</span>+
                                  </h3>
                                  <p class="counter-para">Our Project Complete</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-12">
                              <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                                  <h3 class="counter counter-title"><span class="odometer" data-count="10">00</span>k+
                                  </h3>
                                  <p class="counter-para">Our Natural Products</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-12">
                              <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                                  <h3 class="counter counter-title"><span class="odometer" data-count="10">10+</span>+
                                  </h3>
                                  <p class="counter-para"> Certifications / Formations suivies</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-12">
                              <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                  <h3 class="counter counter-title"><span class="odometer" data-count="1000">00</span>+
                                  </h3>
                                  <p class="counter-para">our Satisfied Clientd</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Tpm Counter Area End -->
  
  <!-- Tpm Education Experience Area Start -->
  <section class="education-experience tmp-section-gapBottom">
      <div class="container">
          <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Education <span><img src="assets/images/custom-line/custom-line.png"
                      alt="custom-line"></span>
          </h2>
          <div class="row g-5">
              <div class="col-lg-6 col-sm-6">
                  <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                      <h4 class="edu-sub-title">Mégrine Pioneer College</h4>
                      <h2 class="edu-title">2015 - 2017</h2>
                      <p class="edu-para">A personal portfolio is a curated collection of an individual's professional
                          work, showcasing their skills, experience A personal portfolio.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                  <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                      <h4 class="edu-sub-title">New Madina High School 3</h4>
                      <h2 class="edu-title">2017 - 2021</h2>
                      <p class="edu-para">Completed secondary education with focus on science and technology subjects, preparing for higher education.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                  <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                      <h4 class="edu-sub-title">Cycle Préparatoire Manar</h4>
                      <h2 class="edu-title">2022 - 2023</h2>
                      <p class="edu-para">Intensive preparatory program focusing on engineering fundamentals and advanced mathematics.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                  <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                      <h4 class="edu-sub-title">École Supérieure Privée d'Ingénierie et de Technologie</h4>
                      <h2 class="edu-title">2024 - Present</h2>
                      <p class="edu-para">Currently pursuing engineering studies with specialization in [your specialization], focusing on practical and theoretical knowledge.</p>
                  </div>
              </div>
          </div>
          <div class="experiences-wrapper v2">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="experiences-wrap-right-content">
                          <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="images/raslenfilbureau.png" style="height: 700px;" alt="expert-img">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="experiences-wrap-left-content">
  
                          <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Experiences <span><img
                          src="assets/images/custom-line/custom-line.png" alt="custom-line"></span></h2>
                          <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                              <p class="ex-subtitle">experience</p>
                              <h2 class="ex-name">Internship SagemCom ( 2 months)</h2>
                              <h3 class="ex-title">Java Developper</h3>
                              <p class="ex-para">Developed a Java application to manage employee absences, including tracking, statistics, and calendar integration. Enhanced UI/UX using Swing and implemented real-time absence analysis.</p>
                          </div>
  
                          <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-2">
                              <p class="ex-subtitle">experience</p>
                              <h2 class="ex-name">MyWeb Internship (3 Months )</h2>
                              <h3 class="ex-title">DevOps Engineer</h3>
                              <p class="ex-para">During my internship at MyWeb, I contributed to automating deployment pipelines, managing cloud infrastructure, and ensuring CI/CD workflows. I worked with tools such as Docker, Jenkins CI/CD, and OpenStack, gaining hands-on experience in DevOps best practices.</p>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Tpm Education Experience Area End -->
  
  
  
  <!-- Tpm Get In touch start -->
  <section class="get-in-touch-area tmp-section-gapBottom">
      <div class="container">
          <div class="contact-get-in-touch-wrap">
              <div class="get-in-touch-wrapper tmponhover">
                  <div class="row g-5 align-items-center">
                      <div class="col-lg-5">
                          <div class="section-head text-align-left">
                              <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                  <span class="subtitle">GET IN TOUCH</span>
                              </div>
                              <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Elevate your brand with Me </h2>
                              <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">ished fact that a reader will be
                                  distrol acted bioiiy desig
                                  ished fact that a reader will acted ished fact that a reader will be distrol
                                  acted </p>
                          </div>
                      </div>
                      <div class="col-lg-7">
                          <div class="contact-inner">
                              <div class="contact-form">
                                  <div id="form-messages" class="error"></div>
                                  <form class="tmp-dynamic-form" id="contact-form" method="POST" action="https://inversweb.com/product/html/reeni/mailer.php">
                                      <div class="contact-form-wrapper row">
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <input class="input-field" name="name" id="contact-name" placeholder="Your Name" type="text" required>
                                              </div>
                                          </div>
  
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <input class="input-field" id="contact-phone" placeholder="Phone Number" type="number" required>
                                              </div>
                                          </div>
  
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <input class="input-field" id="contact-email" name="email" placeholder="Your Email" type="email" required>
                                              </div>
                                          </div>
  
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <input class="input-field" type="text" id="subject" name="subject" placeholder="Subject">
                                              </div>
                                          </div>
  
                                          <div class="col-lg-12">
                                              <div class="form-group">
                                                  <textarea class="input-field" placeholder="Your Message" name="message" id="contact-message" required></textarea>
                                              </div>
                                          </div>
  
                                          <div class="col-lg-12">
                                              <div class="tmp-button-here">
                                                  <button class="tmp-btn hover-icon-reverse radius-round w-100" name="submit" type="submit" id="submit">
                                                      <span class="icon-reverse-wrapper">
                                      <span class="btn-text">Appointment Now</span>
                                                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                      <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                      </span>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Tpm Get In touch End -->
  
  <!-- Start Footer Area  -->
  <!-- Start Footer Area  -->
  <footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
      <div class="container">
          <div class="footer-main footer-style-one">
              <div class="row g-5">
                  <div class="col-lg-5 col-md-6">
                      <div class="single-footer-wrapper border-right mr--20">
  
                          <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                          <form action="#" class="newsletter-form-1 mt--40">
                              <input type="email" placeholder="Email Adress">
                              <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-footer-wrapper quick-link-wrap">
                          <h5 class="ft-title">Quick Link</h5>
                          <ul class="ft-link tmp-link-animation">
                              <li>
                                  <a routerLink="/aboutme">About Me</a>
                              </li>
                              <li>
                                  <a routerLink="/service">Service</a>
                              </li>
                              <li>
                                  <a routerLink="/projects">Projects</a>
                              </li>
                              <li>
                                  <a href="blog.html">Blog Post</a>
                              </li>
                              <li>
                                  <a routerLink="/contact">Contact Us</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="single-footer-wrapper contact-wrap">
                          <h5 class="ft-title">Contact </h5>
                          <ul class="ft-link tmp-link-animation">
                              <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                              <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                              <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                          </ul>
                          <div class="social-link footer">
                              <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                              <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bg-img">
          <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
      </div>
  </footer>
  <div class="copyright-area-one">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="main-wrapper">
                      <p class="copy-right-para">© Raslen <script>
                              document.write(new Date().getFullYear())
                          </script> | All Rights Reserved</p>
                      <ul>
                          <li><a routerLink="/contact">Trams & Condition</a></li>
                          <li><a routerLink="/contact">Privacy Policy</a></li>
                          <li><a routerLink="/contact">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Footer Area  -->
  <!-- End Footer Area  -->
  
  
  <!-- ready chatting option via email -->
  <div class="ready-chatting-option tmp-ready-chat">
      <input type="checkbox" id="click">
      <label for="click">
          <i class="fab fa-facebook-messenger"></i>
          <i class="fas fa-times"></i>
      </label>
      <div class="wrapper">
          <div class="head-text">
              Let's chat with me? - Online
          </div>
          <div class="chat-box">
              <div class="desc-text">
                  Please fill out the form below to start chatting with me directly.
              </div>
              <form class="tmp-dynamic-form" action="#">
                  <div class="field">
                      <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                  </div>
                  <div class="field">
                      <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                  </div>
                  <div class="field textarea">
                      <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                  </div>
                  <div class="field">
                      <button name="submit" type="submit">Send Message</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <!-- ready chatting option via email end -->
  <!-- progress area start -->
  <div class="scrollToTop" style="display: block;">
      <div class="arrowUp">
          <i class="fa-light fa-arrow-up"></i>
      </div>
      <div class="water" style="transform: translate(0px, 87%);">
          <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
              <use xlink:href="#wave"></use>
          </svg>
          <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
              <use xlink:href="#wave"></use>
          </svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 560 20" style="display: none;">
              <symbol id="wave">
                  <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z" fill="#"></path>
                  <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z" fill="#"></path>
                  <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z" fill="#"></path>
                  <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z" fill="#"></path>
              </symbol>
          </svg>
  
      </div>
  </div>
  <!-- progress area end -->
  <!-- <div class="tmp-right-demo">
  <button class="demo-button">
      <p class="mb--0">48</p>
      <span class="text">Demos</span>
  </button>
  </div> -->