<!-- tpm-header-area start -->

<!-- tpm-header-area end -->



<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="title split-collab">Project</h1>
                    <ul class="page-list">
                        <li class="tmp-breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                        <li class="tmp-breadcrumb-item active">Project</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Filter Buttons Area Start -->
<section class="tmp-filter-area tmp-section-gap-small d-flex">
    <div class="container ">
        <div class=" justify-content-center d-flex" > <!-- Utiliser justify-content-center pour centrer les boutons horizontalement -->
            <div class="col-lg-auto"  > <!-- Utiliser col-lg-auto pour que la colonne s'adapte au contenu -->
                <div class="filter-buttons d-flex text-center"  >
                    <!-- Utilisation de la liaison d'événements et de classes Angular -->
                    <button style="color:#ff0057"  class="filter-button" [class.active]="currentFilter === 'all'" (click)="filterProjects('all')">All Projects</button>
                    <button style="color:#ff0057" class="filter-button" [class.active]="currentFilter === 'devops'" (click)="filterProjects('devops')">DevOps</button>
                    <button style="color:#ff0057" class="filter-button" [class.active]="currentFilter === 'cloud'" (click)="filterProjects('cloud')">Cloud</button>
                    <button style="color:#ff0057" class="filter-button" [class.active]="currentFilter === 'dev'" (click)="filterProjects('dev')">Development</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Buttons Area End -->

<!-- Tpm Our Latest Portfolio  Area Start -->
<section class="tmp-latest-portfolio tmp-section-gap">
    <div class="container">
        <div class="row">
            <!-- Utilisation de *ngFor pour boucler sur les projets filtrés -->
            <ng-container *ngFor="let project of filteredProjects">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card v5 tmp-hover-link">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <!-- Utilisation de la liaison de propriétés pour l'image et le lien -->
                                <a [routerLink]="project.link" class="tmp-scroll-trigger tmp-zoom-in animation-order-4">
                                    <img class="img-primary hidden-on-mobile" [src]="project.imageUrl" style="height: 450px;" [alt]="project.name">
                                    <img class="img-secondary" [src]="project.imageUrl" style="height: 450px;" [alt]="project.name">
                                </a>
                            </div>
                            <a [routerLink]="project.link" class="img-link-icon"><i class="fa-solid fa-arrow-up-long"></i></a>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <!-- Utilisation de l'interpolation pour le nom et la date du projet -->
                                <h3 class="portfolio-card-title"><a class="link" [routerLink]="project.link">{{ project.name }}</a></h3>
                                <p class="portfoli-card-para">{{ project.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<!-- Tpm Our Latest Portfolio  Area End -->

<!-- Start Latest Blog & Article Area -->


<!-- Start Footer Area  -->
<footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-one">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="single-footer-wrapper border-right mr--20">

                        <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Email Adress">
                            <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-wrapper quick-link-wrap">
                        <h5 class="ft-title">Quick Link</h5>
                        <ul class="ft-link tmp-link-animation">
                            <li>
                                <a routerLink="/aboutme">About Me</a>
                            </li>
                            <li>
                                <a routerLink="/service">Service</a>
                            </li>
                            <li>
                                <a routerLink="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog Post</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-wrapper contact-wrap">
                        <h5 class="ft-title">Contact </h5>
                        <ul class="ft-link tmp-link-animation">
                            <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                            <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                        </ul>
                        <div class="social-link footer">
                            <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-img">
        <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper">
                    <p class="copy-right-para">© InversWeb <script>
                            document.write(new Date().getFullYear())
                        </script> | All Rights Reserved</p>
                    <ul>
                        <li><a href="#">Trams & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->



<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Let's chat with me? - Online
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Please fill out the form below to start chatting with me directly.
            </div>
            <form class="tmp-dynamic-form" action="#">
                <div class="field">
                    <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                </div>
                <div class="field">
                    <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                </div>
                <div class="field textarea">
                    <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                </div>
                <div class="field">
                    <button name="submit" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
    <div class="water" style="transform: translate(0px, 87%);">
        <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
        </svg>
        <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 560 20" style="display: none;">
            <symbol id="wave">
                <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z" fill="#"></path>
                <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z" fill="#"></path>
                <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z" fill="#"></path>
                <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z" fill="#"></path>
            </symbol>
        </svg>

    </div>
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
<button class="demo-button">
    <p class="mb--0">48</p>
    <span class="text">Demos</span>
</button>
</div> -->