

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="title split-collab">Project Details</h1>
                    <ul class="page-list">
                        <li class="tmp-breadcrumb-item"><a href="https://inversweb.com/">Home</a></li>
                        <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                        <li class="tmp-breadcrumb-item active">Project Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->


<div class="project-details-area-wrapper tmp-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-details-thumnail-wrap">
                    <img src="images/pipeline.jpg" alt="thumbnail">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="project-details-content-wrap">
                    <h2 class="title"  style="font-size: 40px;">Next-Level CI/CD Pipeline Architecture </h2>
                    <p class="docs">DevSecOpsFlow is a fully automated CI/CD pipeline designed to accelerate development while integrating robust security at every stage. Built on a Jenkins master-agent architecture, it orchestrates code building, testing, scanning, and deployment across scalable cloud infrastructure.

                        </p>
                    <p class="docs">My pipeline is built on a robust Jenkins-based architecture, optimized for automation, security, and scalability. Behind every deployment, my pipeline orchestrates everything: code building, testing, vulnerability scanning, artifact management, infrastructure provisioning, and seamless cloud delivery.  
                        </p>

                    <div class="check-box-wrap">
                        <ul>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span> Jenkins Master-Agent CI/CD Architecture</h4>
                            </li>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>Terraform, Docker, Nexus, and Argo CD Integration</h4>
                            </li>
                            <li>
                                <h4 class="check-box-item"><span><i
                                            class="fa-solid fa-circle-check"></i></span>Security with OWASP, Trivy & SonarQube</h4>
                            </li>
                        </ul>
                    </div>
                    <h2 class="mini-title">⚙️ Powered by Jenkins, the pipeline features: </h2>
                    <p class="docs">
                        🔹 A master node coordinating two specialized agents for optimal performance.<br><br>
                        
                        🔸 Agent 1 ensures code reliability and security:<br>
                        ✔ Builds and tests code using JUnit and Mockito for strong unit and integration validation.<br>
                        ✔ Enforces clean code standards via SonarQube integration.<br>
                        ✔ Detects dependency vulnerabilities with OWASP Dependency Check.<br>
                        ✔ Performs in-depth security scans using Trivy, right during the build stage.<br>
                        ✔ Sends real-time mail notifications for builds, test results, and security alerts.<br><br>
                        
                        🔸 Agent 2 handles cloud deployment with precision:<br>
                        ✔ Uses Terraform to provision a secure Azure AKS cluster.<br>
                        ✔ Builds and deploys Angular and Spring Boot apps in containers.<br>
                        ✔ Scans Docker images with Trivy before pushing to DockerHub.<br>
                        ✔ Manages builds and artifacts securely via Nexus Repository Manager.<br><br>
                        
                        📌 Continuous Deployment with Argo CD 🎯<br>
                        ✔ Auto-syncs GitHub changes directly to Kubernetes, ensuring fast, consistent delivery.<br><br>
                        
                        📊 Visibility & Control<br>
                        ✔ Integrated Prometheus and Grafana dashboards deliver real-time insights into Jenkins operations and app performance.
                    </p>
                    <div class="project-details-swiper-wrapper">
                        <div class="swiper project-details-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/jenkinspipeline.jpg" style="width: 1000px  ; height: 185px;  " alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/gitops.jpg" style="width: 1000px ; height: 185px;" alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/jenkinsagent.jpg" style="width: 1000px ; height: 185px ; " alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/nexus.jpg" style="width: 1000px ; height: 185px " alt="swiper-img">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/grafanapipe.jpg" style="width: 1000px ; height: 185px " alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/sonarqubepipe.jpg" style="width: 1000px ; height: 185px " alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/prompipe.jpg" style="width: 1000px ; height: 185px " alt="swiper-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-details-img">
                                        <img src="images/grafana2.jpg" style="width: 1000px ; height: 185px " alt="swiper-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-details-swiper-btn">
                            <div class="project-swiper-button-prev"><span><i
                                        class="fa-solid fa-arrow-left"></i></span>Previous</div>
                            <div class="project-swiper-button-next">Next <span><i
                                        class="fa-solid fa-arrow-right"></i></span></div>
                        </div>
                    </div>
                </div>
                <!-- Tpm Get In touch start -->
                <section class="get-in-touch-area pt--80">
                    <div class="container p-0">
                        <div class="contact-get-in-touch-wrap">
                            <div class="get-in-touch-wrapper tmponhover">
                                <div class="row g-5 align-items-center">
                                    <div class="col-lg-12">
                                        <div class="contact-inner">
                                            <div class="contact-form">
                                                <form class="tmp-dynamic-form" id="contact-form" method="POST" action="https://inversweb.com/product/html/reeni/mail.php">
                                                    <div class="contact-form-wrapper row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" name="contact-name" id="contact-name" placeholder="Your Name" type="text" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" name="contact-phone" id="contact-phone" placeholder="Phone Number" type="number" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" id="contact-email" name="contact-email" placeholder="Your Email" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <input class="input-field" type="text" id="subject" name="subject" placeholder="Subject">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <textarea class="input-field" placeholder="Your Message" name="contact-message" id="contact-message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="tmp-button-here">
                                                                <button class="tmp-btn hover-icon-reverse radius-round w-100" name="submit" type="submit" id="submit">
                                                                    <span class="icon-reverse-wrapper">
                                                <span class="btn-text">Appointment Now</span>
                                                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Tpm Get In touch End -->
            </div>
            <div class="col-lg-4">
                <div class="signle-side-bar project-details-area tmponhover">
                    <div class="header">
                        <h3 class="title">Project Details</h3>
                    </div>
                    <div class="body">
                        <div class="project-details-info">Name: <span>DevSecOpsFlow</span></div>
                        <div class="project-details-info">Author: <span>Missaoui Raslen</span></div>
                        <div class="project-details-info">Date: <span>December 2024 - Februrary 2025 </span></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Footer Area  -->
<footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-one">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="single-footer-wrapper border-right mr--20">
                        
                        <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Email Adress">
                            <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-wrapper quick-link-wrap">
                        <h5 class="ft-title">Quick Link</h5>
                        <ul class="ft-link tmp-link-animation">
                            <li>
                                <a routerLink="/aboutme">About Me</a>
                            </li>
                            <li>
                                <a routerLink="/service">Service</a>
                            </li>
                            <li>
                                <a routerLink="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog Post</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-wrapper contact-wrap">
                        <h5 class="ft-title">Contact </h5>
                        <ul class="ft-link tmp-link-animation">
                            <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                            <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                        </ul>
                        <div class="social-link footer">
                            <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://github.com/raslenraslen"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-img">
        <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper">
                    <p class="copy-right-para">© Raslen <script>
                            document.write(new Date().getFullYear())
                        </script> | All Rights Reserved</p>
                    <ul>
                        <li><a href="#">Trams & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->



<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Let's chat with me? - Online
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Please fill out the form below to start chatting with me directly.
            </div>
            <form class="tmp-dynamic-form" action="#">
                <div class="field">
                    <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                </div>
                <div class="field">
                    <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                </div>
                <div class="field textarea">
                    <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                </div>
                <div class="field">
                    <button name="submit" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
  
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
<button class="demo-button">
    <p class="mb--0">48</p>
    <span class="text">Demos</span>
</button>
</div> -->





<div class="demo-modal-area">
    <div class="wrapper">
        <div class="tmp-modal-inner">
            <div class="close-icon">
                <button class="demo-close-btn"><span><i class="fa-sharp fa-light fa-xmark"></i></span></button>
            </div>
            <div class="demo-top text-center">
                <h4 class="title">Raslen</h4>
                <p class="subtitle">A personal portfolio website is your digital resume—a place to showcase your work,
                    skills, and achievements.</p>
            </div>
            <ul class="popuptab-area nav nav-tabs" id="popuptab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active demo-dark" id="demodark-tab" data-bs-toggle="tab" href="#demodark" role="tab" aria-controls="demodark" aria-selected="true">Dark Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link demo-light" id="demolight-tab" data-bs-toggle="tab" href="#demolight" role="tab" aria-controls="demolight" aria-selected="false">Light Demo</a>
                </li>
            </ul>
            <div class="tab-content" id="popuptabContent">
                <div class="tab-pane show active" id="demodark" role="tabpanel" aria-labelledby="demodark-tab">
                    <div class="content">
                        <div class="row">

                            <!-- Start Single Content  -->
                           
                            <!-- End Single Content  -->

                            <!-- Start Single Content  -->
                           
                            <!-- End Single Content  -->

                            <!-- Start Single Content  -->
                        