    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="title split-collab">IT Blog</h1>
                        <ul class="page-list">
                            <li class="tmp-breadcrumb-item"><a href="https://inversweb.com/">Home</a></li>
                            <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                            <li class="tmp-breadcrumb-item active">IT Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <div class="blog-classic-area-wrapper tmp-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-classic-card tmp-scroll-trigger tmponhover tmp-fade-in animation-order-1">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-classic-card-img-1.jpg" alt="Blog Thumbnail">
                                <img class="img-secondary" src="assets/images/blog/blog-classic-card-img-1.jpg" alt="BLog Thumbnail">
                            </a>
                        </div>
                        <div class="blog-classic-content">
                            <div class="blog-classic-tag">
                                <ul>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-tag"></i>
                                            <h4 class="tag-title">Cloud Computing</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-regular fa-comment"></i>
                                            <h4 class="tag-title">Comments (05)</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-calendar-day"></i>
                                            <h4 class="tag-title">Jan 20, 2024</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title"><a href="#">Introduction to Cloud Computing</a>
                            </h2>
                            <p class="para">Explore the fundamentals of cloud computing, its different models (IaaS, PaaS, SaaS), and discover how it transforms businesses by providing flexibility and scalability.</p>


                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-classic-card tmp-scroll-trigger tmponhover tmp-fade-in animation-order-2">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-classic-card-img-2.jpg" alt="Blog Thumbnail">
                                <img class="img-secondary" src="assets/images/blog/blog-classic-card-img-2.jpg" alt="BLog Thumbnail">
                            </a>
                        </div>
                        <div class="blog-classic-content">
                            <div class="blog-classic-tag">
                                <ul>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-tag"></i>
                                            <h4 class="tag-title">DevOps</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-regular fa-comment"></i>
                                            <h4 class="tag-title">Comments (05)</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-calendar-day"></i>
                                            <h4 class="tag-title">Jan 25, 2024</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title"><a href="#">The Basics of DevOps for Developers</a></h2>
                            <p class="para">Understand the key principles of DevOps, the culture of collaboration, and essential tools (Git, Docker, Jenkins...) to accelerate and optimize your software deployments.</p>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-classic-card tmp-scroll-trigger tmponhover tmp-fade-in animation-order-3">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-classic-card-img-3.jpg" alt="Blog Thumbnail">
                                <img class="img-secondary" src="assets/images/blog/blog-classic-card-img-3.jpg" alt="BLog Thumbnail">
                            </a>
                        </div>
                        <div class="blog-classic-content">
                            <div class="blog-classic-tag">
                                <ul>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-tag"></i>
                                            <h4 class="tag-title">Cloud Security</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-regular fa-comment"></i>
                                            <h4 class="tag-title">Comments (05)</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tag-wrap">
                                            <i class="fa-solid fa-calendar-day"></i>
                                            <h4 class="tag-title">Feb 01, 2024</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title"><a href="#">Securing Your Cloud Infrastructures: Best Practices</a></h2>
                            <p class="para">Security is paramount in the cloud. Discover the best practices to protect your data and applications in AWS, Azure, or GCP environments.</p>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="blog-details.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Read More</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tmp-pagination-button">
                        <a href="#" class="pagination-btn"><i class="fa-sharp fa-regular fa-arrow-left"></i></a>
                        <a href="#" class="pagination-btn active">1</a>
                        <a href="#" class="pagination-btn">2</a>
                        <a href="#" class="pagination-btn">3</a>
                        <a href="#" class="pagination-btn"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tmp-sidebar">
                        <div class="signle-side-bar search-area tmponhover">
                            <div class="body">
                                <div class="search-area">
                                    <input type="text" placeholder="Search..." required>
                                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="signle-side-bar recent-post-area tmponhover">
                            <div class="header">
                                <h3 class="title">Recent Posts</h3>
                            </div>
                            <div class="body">
                                <a href="#" class="single-post">
                                    <span class="single-post-left">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="post-title">Latest Cloud Trends</span>
                                    </span>
                                    <span class="post-num">(01)</span>
                                </a>
                                <a href="#" class="single-post">
                                    <span class="single-post-left">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="post-title">CI/CD Explained</span>
                                    </span>
                                    <span class="post-num">(02)</span>
                                </a>
                                <a href="#" class="single-post">
                                    <span class="single-post-left">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="post-title">Containers vs VMs</span>
                                    </span>
                                    <span class="post-num">(03)</span>
                                </a>
                                <a href="#" class="single-post">
                                    <span class="single-post-left">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="post-title">Choosing a Cloud Provider</span>
                                    </span>
                                    <span class="post-num">(04)</span>
                                </a>
                            </div>
                        </div>
                        <div class="signle-side-bar recent-post-area tmponhover">
                            <div class="header">
                                <h3 class="title">Other Recent Topics</h3>
                            </div>
                            <div class="body">
                                <div class="single-post-card tmp-hover-link">
                                    <div class="single-post-card-img">
                                        <img src="assets/images/blog/single-post-card-img-1.png" alt="">
                                    </div>
                                    <div class="single-post-right">
                                        <div class="single-post-top">
                                            <i class="fa-regular fa-folder-open"></i>
                                            <p class="post-title">Category</p>
                                        </div>
                                        <h3 class="post-title"><a class="link" href="#">Automation with Terraform</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="single-post-card tmp-hover-link">
                                    <div class="single-post-card-img">
                                        <img src="assets/images/blog/single-post-card-img-2.png" alt="">
                                    </div>
                                    <div class="single-post-right">
                                        <div class="single-post-top">
                                            <i class="fa-regular fa-folder-open"></i>
                                            <p class="post-title">Category</p>
                                        </div>
                                        <h3 class="post-title"><a class="link" href="#">Monitoring a DevOps Environment</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="single-post-card tmp-hover-link">
                                    <div class="single-post-card-img">
                                        <img src="assets/images/blog/single-post-card-img-3.png" alt="">
                                    </div>
                                    <div class="single-post-right">
                                        <div class="single-post-top">
                                            <i class="fa-regular fa-folder-open"></i>
                                            <p class="post-title">Category</p>
                                        </div>
                                        <h3 class="post-title"><a class="link" href="#">The Advantages of Serverless</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="signle-side-bar tmponhover">
                            <div class="header">
                                <h3 class="title">About Me</h3>
                            </div>
                            <div class="body">
                                <div class="about-me-details">
                                    <div class="about-me-details-head">
                                        <div class="about-me-img">
                                            <img src="images/raslen.jpg" alt="about-me-user-img">
                                        </div>
                                        <div class="about-me-right-content">
                                            <h3 class="title">Missaoui Raslen</h3>
                                            <p class="para">DevOps Engineer </p>
                                            <div class="social-link">
                                                <a routerLink="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                <a routerLink="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>

                <a routerLink="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="about-me-para">Junior DevOps Engineer eager to learn, with foundational skills in automation, CI/CD, and cloud tools. Motivated, adaptable, and team-oriented.</p>
                                </div>
                            </div>
                        </div>
                        <div class="signle-side-bar tmponhover">
                            <div class="header">
                                <h3 class="title">Tags</h3>
                            </div>
                            <div class="body">
                                <div class="tags-wrapper">
                                    <a routerLink="/projects" class="tag-link">All Posts</a>
                                    <a href="#" class="tag-link">Cloud</a>
                                    <a href="#" class="tag-link">DevOps</a>
                                    <a href="#" class="tag-link">Kubernetes</a>
                                    <a href="#" class="tag-link">AWS</a>
                                    <a href="#" class="tag-link">Azure</a>
                                    <a href="#" class="tag-link">GCP</a>
                                    <a href="#" class="tag-link">CI/CD</a>
                                    <a href="#" class="tag-link">Automation</a>
                                    <a href="#" class="tag-link">Infrastructure</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Footer Area  -->
    <footer class="footer-area footer-style-one-wrapper  tmp-section-gap">
        <div class="container">
            <div class="footer-main footer-style-one">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-footer-wrapper border-right mr--20">

                            <p class="description"><span>Are You Ready</span> To <br> Reach Out ?</p>
                            <form action="#" class="newsletter-form-1 mt--40">
                                <input type="email" placeholder="Email Address">
                                <span class="form-icon"><i class="fa-regular fa-envelope"></i></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-wrapper quick-link-wrap">
                            <h5 class="ft-title">Quick Links</h5>
                            <ul class="ft-link tmp-link-animation">
                                <li>
                                    <a routerLink="/aboutme">About Me</a>
                                </li>
                                <li>
                                    <a routerLink="/service">Services</a>
                                </li>
                                <li>
                                    <a routerLink="/projects">Projects</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a routerLink="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-wrapper contact-wrap">
                            <h5 class="ft-title">Contact </h5>
                            <ul class="ft-link tmp-link-animation">
                                <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a href="#">raslen.missaoui@esprit.tn</a></li>
                                <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Ben Arous Nouvelle Madina 2063</li>
                                <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a href="#">+216 95 084 824</a></li>
                            </ul>
                            <div class="social-link footer">
                                <a href="https://www.instagram.com/raslenmissaoui22/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/missaoui-raslen-6a8620298/"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://www.facebook.com/raslen.missaoui/"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://github.com/raslenraslen"><i class="fa-brands fa-github"></i></a>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bg-img">
            <img src="assets/images/footer/footer-bg-img.png" alt="footer-img">
        </div>
    </footer>
    <div class="copyright-area-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-wrapper">
                        <p class="copy-right-para">© InversWeb <script>
                                document.write(new Date().getFullYear())
                            </script> | All Rights Reserved</p>
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area  -->



    <!-- ready chatting option via email -->
    <div class="ready-chatting-option tmp-ready-chat">
        <input type="checkbox" id="click">
        <label for="click">
            <i class="fab fa-facebook-messenger"></i>
            <i class="fas fa-times"></i>
        </label>
        <div class="wrapper">
            <div class="head-text">
                Let's Chat? - Online
            </div>
            <div class="chat-box">
                <div class="desc-text">
                    Please fill out the form below to start chatting with me directly.
                </div>
                <form class="tmp-dynamic-form" action="#">
                    <div class="field">
                        <input class="input-field" name="name" placeholder="Your Name" type="text" required>
                    </div>
                    <div class="field">
                        <input class="input-field" name="email" placeholder="Your Email" type="email" required>
                    </div>
                    <div class="field textarea">
                        <textarea class="input-field" placeholder="Your Message" name="message" required></textarea>
                    </div>
                    <div class="field">
                        <button name="submit" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ready chatting option via email end -->
    <!-- progress area start -->
    <div class="scrollToTop" style="display: block;">
        <div class="arrowUp">
            <i class="fa-light fa-arrow-up"></i>
        </div>
        <div class="water" style="transform: translate(0px, 87%);">
            <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                <use xlink:href="#wave"></use>
            </svg>
            <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                <use xlink:href="#wave"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 560 20" style="display: none;">
                <symbol id="wave">
                    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z" fill="#"></path>
                    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z" fill="#"></path>
                    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z" fill="#"></path>
                    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z" fill="#"></path>
                </symbol>
            </svg>

        </div>
    </div>
    <!-- progress area end -->
    <!-- <div class="tmp-right-demo">
    <button class="demo-button">
        <p class="mb--0">48</p>
        <span class="text">Demos</span>
    </button>
</div> -->


  